{% extends 'interface.html' %}

{% load custom_filter %}

{% load static %}

{% block content %}
<main>
    <div class="container" style="grid-template-columns: 0 auto 0; max-width: 700px">

    <!-- =================================LEFT================================ -->

    <div class="left"></div>

        <!-- =================================MIDDLE================================ -->


        <div class="middle">

            <div class="right friend-requests" >
                <h4>Friend Requests</h4>
                <br>
                <div style="overflow-y: scroll; height: max-content;">

                    {% if c_requests == 0 %}

                    <center><h3 style="color: grey;">No new requests</h3></center>

                    {% else %}
                        
                    {% for f_request in f_requests %}
                    <div class="request">
                        <div class="info">
                            <div class="profile-picture">
                                <img src="{{f_request.sender.profile.profile_picture.url}}" alt="">
                            </div>
                            <div>
                                <h4>{{f_request.sender.first_name}} {{f_request.sender.last_name}}</h4>
                                <p class="text-muted">
                                    <small>{{f_request.sender.username}}</small>
                                </p>
                            </div>
                        </div>
                        <div class="action">
                            <button class="btn btn-primary confirm-btn" data-id="{{f_request.sender.id}}">
                                Accept
                            </button>
                        </div>
                    </div>
                    {% endfor %}

                    {% endif %}

                   
        
        </div>
        <style>
            .disable{
                pointer-events: none;
                opacity: 0.7;
                font-size: 14px;
            }
        </style>


        <!-- =================================RIGHT================================ -->


        <div class="right">
                


        </div>

        <!-- ==========================END OF RIGHT============================= -->

    </div>
</main>

<script>

    //selecting all the confirm btns in this page
    let confirm_btns = document.querySelectorAll(".confirm-btn");

    //looping through all the confirm btns
    for (let btn of confirm_btns){
        btn.addEventListener("click", addFriend)
    }

    async function postJSON(data, btn) {

        let url = "{% url 'accept-request' %}"

        try {
          const response = await fetch(url, {
            method: "POST", // or 'PUT'
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": csrftoken
            },
            body: JSON.stringify(data),
          });
      
          const result = await response.json();
          console.log("Success:", result);

          if(result == "yes"){
            btn.innerText = "Accepted";
            btn.classList.add("disable");
            //btn.nextElementSibling.classList.add("disable");
          }

          
        } catch (error) {
          console.error("Error:", error);
        }
      }
      
      const data = { username: "example" };
      postJSON(data);
      

    //This function calls the acceptFriend function passes the neccessary arguments required.
    function addFriend(e){
        console.log(e.target)
        let data = e.target.dataset.id;
        let btn = e.target
        postJSON(data, btn);
    }

</script>

{% endblock %}