{% load static %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>SignUp - chatRoom</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Sign Up</div>
    <div class="content">
      <form action="" method="post">
        {% csrf_token %}

        <div class="user-details">

          <div class="input-box" style="width:100%; display:grid; grid-row-start: 2;">

            {% for field in form %}

                {% if field.errors %}
                  {{ field }}
                  <center><small style="color: red;">{{ field.errors }}</small></center>
                  <br>
                {% else %}
                  {{ field }}
                  <br>
                {% endif %}
        
            {% endfor %}
        
        </div>


        </div>


        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
        <div class="signup-link">
          Already have an account? <a href="{% url 'login' %}">Login</a>
       </div>
       <style>
        form .signup-link {
          color: #262626;
          margin-top: 20px;
          text-align: center;
        }
       </style>
      </form>
    </div>
  </div>

</body>
</html>


 <!-- <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" required>
          </div> -->